{% macro badge_accuracy(acc) %}
    {% if acc > 0.9 %}
        <span class="badge badge-success ml-3"><h4>Accuraccy: {{ (acc*100)|round(2) }}% </h4></span>
    {% elif acc > 0.7 %}
        <span class="badge badge-warning ml-3"><h4>Accuraccy: {{ (acc*100)|round(2) }}% </h4></span>
    {% else %}
        <span class="badge badge-danger ml-3"><h4>Accuraccy: {{ (acc*100)|round(2) }}% </h4></span>
    {% endif %}
{% endmacro %}

{% macro badge_loss(loss) %}
    {% if loss < 0.5 %}
        <span class="badge badge-success ml-3"><h4>Loss: {{ loss|round(2) }} </h4></span>
    {% elif loss < 1 %}
        <span class="badge badge-warning ml-3"><h4>Loss: {{ loss|round(2) }} </h4></span>
    {% else %}
        <span class="badge badge-danger ml-3"><h4>Loss: {{ loss|round(2) }} </h4></span>
    {% endif %}
{% endmacro %}

{% macro header(text) %}
    <div class="font-weight-light text-center m-4 p-2 header-basic">
        {{ text }}
    </div>
{% endmacro %}

{% macro progress(filled, good) %}
    {% if good %}
        {% set green_filled = filled %}
        {% set red_filled = 100 - green_filled %}
    {% else %}
        {% set red_filled = filled %}
        {% set green_filled = 100 - red_filled %}
    {% endif %}

    <div class="progress mb-4">
        <div class="progress-bar bg-success" role="progressbar" style="width:{{ green_filled }}%">
        </div>
        <div class="progress-bar bg-danger" role="progressbar" style="width:{{ red_filled }}%">
        </div>
    </div>
{% endmacro %}