.side-by-side{
    display: inline-block;
    vertical-align: top;
}

.header-basic {
    text-align: center;
    font-size: 36px;
    letter-spacing: 5px;
    background-color: #575757;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    font-size: 22px;
}

.normal {
    background-color: #393939;
    color: whitesmoke;
}

.header-dark {
    background-color:#0d9424;
}

li {
    margin-left: 5px;
    margin-right: 5px;
}

hr.common-light {
    border-top: 1px solid whitesmoke;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color:#0d9424 !important;
    background-color: #0d9424 !important;
  }


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 5px;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    border-radius: 5px;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    border-radius: 5px;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.hide {
  display: none;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}
  