{% extends "base.html" %}

{% block title %}
    Home page
{% endblock title %}

{% block header %}
    <h1>Simple visualization of CNN training process</h1>
{% endblock header %}

{% block content %}
<h1 style="text-align: center;"> TODO </h1>
{% endblock content %}