{% extends "base.html" %}

{% block title %}
    Prepare data
{% endblock title %}

{% block header %}
    <h1>Prepare data for the model</h1>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-success m-2">Create csv annotation</button>
        <button type="button" class="btn btn-success m-2">Preprocess images</button>
    </div>
</div>
{% endblock content %}