{% extends "base.html" %}

{% from 'macros.html.j2' import header %}

{% block title %}
    Prepare data
{% endblock title %}

{% block header %}
    <h1>Configuration panel</h1>
{% endblock header %}

{% block content %}
    <div class="container col-sm-10 mt-3 mb-4 border rounded border-secondary p-3">
    <div class='row'>
    <div class="col-md-4">
        <div class="p-2">
            <div class="text-white h4 text-center p-2">Settings</div>
                <ul class="nav nav-pills flex-column m-2">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#model">Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#annotations">Annotations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#prepare">Prepare</a>
                </li>
                </ul>
        </div>          
    </div>
    <div class="col-md-8">
        <div class="tab-content">
        <div class="tab-pane show active" id="model" role="tabpanel">
            {{ header("Model informations") }}
            <div class="m-4">
                <dl class="row">
                {% for name, value in model.items() %}
                <dt class="col-sm-5 mt-2 text-big">{{ name }}</dt>
                <dd class="col-sm-7 mt-2 text-big">{{ value }}</dd>
                {% endfor %}
                </dl>
            </div>
            {{ header("Actions") }}
            <div class="m-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ml-4">
                            <input class="form-check-input" type="checkbox" value="" id="clearAnnotCheckbox">
                            <label class="form-check-label" for="clearAnnotCheckbox">
                            <div data-toggle="tooltip" data-placement="right" title="Remove all training labels.">
                                Clear annotations
                            </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#delete">
                            Delete model
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="annotations" role="tabpanel">
            {{ header("Annotation files summary") }}
            <div class="m-4">
                <dl class="row">
                {% for name, value in annotation.items() %}
                <dt class="col-sm-5 mt-2 text-big">{{ name }}</dt>
                <dd class="col-sm-7 mt-2 text-big">{{ value }}</dd>
                {% endfor %}
                </dl>
            </div>
        </div>
        <div class="tab-pane" id="prepare" role="tabpanel">
            {{ header("Prepare dataset") }}
            <div class="m-4 border rounded border-secondary p-4">
            <div class="mb-4">
            Copy your images from paths specified in the config file
             the server and apply basic transformations on them.
            </div>
            <div class="row">
                <div class="col-md-6">
                <label for="dsType">Select dataset type</label>
                <select class="form-control" id="dsType">
                    <option>unlabelled</option>
                    <option>test</option>
                    <option>validation</option>
                </select>
                </div>
                <div class="col-md-6 text-right mt-4">
                    <button type="button" class="btn btn-secondary btn-lg" onclick=tranform_images()>
                        Apply
                    </button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-dark">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Do you really want to delete model?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button"  onclick="delete_model()" class="btn btn-danger">Delete</button>
        </div>
        </div>
    </div>
    </div>
</div>

<script>
function delete_model(){
    $.ajax({
        url: '/model' + "?clear_annotations=" + $("#clearAnnotCheckbox").is(":checked"),
        type: "DELETE",
        success: function(){
            console.log("Success: model delete")
        },
        error: function(xhr) {
            console.log(xhr)
        }
    });
}

function tranform_images(){
    $.ajax({
        url: '/transform' + "?dataset_type=" + $("#dsType option:selected").text(),
        type: "PUT",
        success: function(){
            console.log("Success: transform")
        },
        error: function(xhr) {
            console.log(xhr)
        }
    });
}

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock content %}