{% extends "base.html" %}

{% from 'macros.html.j2' import header %}

{% block title %}
    Train
{% endblock title %}

{% block header %}
    <h1>Test</h1>
{% endblock header %}

{% block content %}
    <div class="container col-sm-10 mt-3 mb-4 border rounded border-secondary p-3">
        {{ header("Choose action") }}
        <div class="text-center">
            <div class="btn-group">
                <button type="button" onclick="post_test()" class="btn main-color btn-lg">
                    Run test
                </button>
                <button type="button"  onclick="get_new_images()" class="btn main-color btn-lg ml-1">
                    New images
                </button>
                <button type="button" class="btn main-color btn-lg ml-1" data-toggle="modal" data-target="#upload">
                    Test your image
                </button>
                <button type="button" class="btn btn-danger btn-lg ml-1" data-toggle="modal" data-target="#delete">
                    Delete training history
                </button>
            </div>
        </div>
    </div>
    <div class="container col-sm-10 mt-3 mb-4 border rounded border-secondary p-3">
        {% if show_results %}
            {{ header("Sample test results") }}
            <div class="row text-center text-lg-left m-3">
                {% for image in images %}
                {% set path = image.path[path_start_idx:] %}
                <div class="col-lg-2 col-md-3 m-0 text-center">
                    <img class="img-fluid rounded border border-white mb-3" src="{{ path }}" alt="" width=164 height=164>
                    <div class="h5">{{ image.label}}, {{ (image.confidence*100)|round(2) }}%</div>
                </div>
                {% endfor %}
            </div>
            
            <div class="row text-center justify-content-center">
                <div class='col-3'></div>
                <div class="col-6 row justify-content-center">
                {% if acc > 0.9 %}
                    <h3><span class="badge badge-success m-3">Accuraccy: {{ (acc*100)|round(2) }}% </span></h3>
                    <h3><span class="badge badge-info m-3">Loss: {{ loss|round(3) }} </span></h3>
                {% elif acc > 0.7 %}
                    <h3><span class="badge badge-warning m-3">Accuraccy: {{ (acc*100)|round(2) }}% </span></h3>
                    <h3><span class="badge badge-info m-3">Loss: {{ loss|round(3) }} </span></h3>
                {% else %}
                    <h3><span class="badge badge-danger m-3">Accuraccy: {{ (acc*100)|round(2) }}% </span></h3>
                    <h3><span class="badge badge-info m-3">Loss: {{ loss|round(3) }} </span></h3>
                {% endif %}
                </div>
                <div class='col-3'></div>
            </div>
        {% endif %}
    </div>
    <div class="container col-sm-10 mt-3 mb-4 border rounded border-secondary p-3">
        {{ header("Your image") }}
        <div class="text-center">
        {% if user_test %}
            <img id="yourImage" class="img-fluid rounded border border-white m-3" src="{{ user_test.path }}" alt="Something went wrong, try again" width=500 height=500>
            <div><h5 id="userLabel">Label: {{ user_test.label }} with {{ (user_test.acc*100)|round(2) }} % accuracy</h5></div>
        {% else %}
            <img id="yourImage" style="display: none;" class="img-fluid rounded border border-white m-3" src="" alt="ads" width=500 height=500>
            <div><h5 id="userLabel"></h5></div>
        {% endif %}
        </div>
    </div>

<!-- Modals -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete training history?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="delete_test()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadLabel">Test you own image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="upload-file-form" method="post" enctype="multipart/form-data">
        <div class="custom-file">
            <input name="testImage" class="custom-file-input" type="file">
            <label class="custom-file-label" for="testImage">Select an image</label>
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="button" name="submit" id="upload-file-btn" data-dismiss="modal" class="btn btn-primary" value="Upload"/>
        </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="reloadModal" tabindex="-1" role="dialog" aria-labelledby="reloadLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content text-dark">
    <div class="modal-header">
        <h5 class="modal-title" id="reloadLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Test is completed, do you want to reload page?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="reload()" class="btn btn-primary">Reload</button>
    </div>
    </div>
</div>
</div>

<script>
    window.onload = function() {
        pool_status(handle_status_data_no_modal);
    }

    function handle_status_data_no_modal(data) {
        // wrapper that disables modal
        handle_status_data(data, false);
    }

    function handle_status_data(data, show_modal = true) {
        status = data.status
        console.log('Received status: ' + status);
        if (status == 'success'){
            $("#loadingSpinner").hide();
            if (show_modal) {
                $('#reloadModal').modal('show');
            }
        }
        else if (status == 'ongoing') {
            console.log('sleep for 0.5s')
            setTimeout(pool_status(handle_status_data), 500);
        }
        else {
            console.log('status failed')
            alert('Error occured: ' + data.data)
        }
    }

    function post_test(){
        $.ajax({
            url: '/test',
            type: "POST",
            success: function(){
                pool_status(handle_status_data);
            },
            error: function(xhr) {
                console.log(xhr)
                if (xhr.status == 409){
                    alert("There is ongoing test, please until finishes")
                }
                else {
                    alert("Error occured: " + xhr.status)
                }
            }
        });
    }
    
    function get_new_images(){
        $.ajax({
            url: '/test?new_samples=True',
            type: "GET",
            success: function(){
                location.reload(); 
            },
            error: function(xhr) {
                console.log(xhr)
                alert("Error occured: " + xhr.status)
            }
        });
    }
    
    function delete_test(){
        $.ajax({
            url: '/test',
            type: "DELETE",
            success: function(){
                location.reload(); 
            },
            error: function(xhr) {
                console.log(xhr)
            }
        });
    }

    $(function() {
        $('#upload-file-btn').click(function() {
            var formDataRaw = $('#upload-file-form')[0];
            console.log(formDataRaw)
            var form_data = new FormData(formDataRaw);
            console.log(form_data)
            $.ajax({
                type: 'POST',
                url: '/test',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    console.log("user image result: " + data.path);
                    var targetImg = document.getElementById("yourImage");
                    targetImg.src = data.path;
                     $("#yourImage").show();
                    label = document.getElementById("userLabel");
                    label.innerHTML = "Label: " + data.label + " with " + data.acc + "% accuracy";
                    console.log('Success!');
                },
                error: function(xhr) {
                    console.log(xhr)
                },
            });
        });
    });

    function pool_status(status_hanlder){
         $.ajax({
            url: '/status/test',
            type: "GET",
            success: function(data){
                console.log(data);
                status_hanlder(data);
            },
            error: function(err){
                $("#loadingSpinner").hide();
                alert("Error occured: " + err)
            }
        });
    }

    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    function reload() {
        window.location.href = "/test";
    }

</script>
{% endblock content %}